{% load staticfiles %}
<html>
<head>
    <title>Museo de la Pasión Boquense</title>
    <meta charset='utf-8'>
    <LINK href="{% static "css/style.css" %}" rel="stylesheet" type="text/css">
    <LINK href="{% static "css/materialize.css" %}" rel="stylesheet" type="text/css">
</head>
<body class="dividido">
	<div class="line"></div>
	<div class="line-reverse"></div>
							
	
	<div class="box dividido">
		<div class ="container valign-wrapper">
			<div class="valign ancho">
				<div class="row">
					<div class="col s6">
						<div class="center-align">
							<div class="row">
								<a href="{% url 'timeline' tipo='nacional' %}"><div class="circle circle-left">A</div></a>
							</div>
							<div class="row">
								<div class="titulo">NACIONALES</div>
							</div>
						</div>
					</div>
					
					<div class="col s6">
						<div class="center-align">
							<div class="row">
								<a href="{% url 'timeline' tipo='internacional' %}"><div class="circle circle-right">B</div></a>
							</div>
							<div class="row">
								<div class="titulo">INTERNACIONALES</div>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</body>
</html>