{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Museo de la Pasión Boquense</title>
    <LINK href="{% static "css/timeline.css" %}" rel="stylesheet" type="text/css">
  </head>
<body style="background:url('{% static "BG.jpg" %}')  no-repeat center center fixed;">
	<div class="nombre">NACIONALES</div>
	
	<div class="TOPBAR">
		<div class="left">
			<img src="{% static "logo.png" %}" class="responsive">
			<div class="typesetter">
				<div class=""></div>
				<div class=""></div>
			</div>
		</div>
		<div class="right">
			<img src="{% static "es.png" %}" class="responsive">
			<div class="vline white disabled"></div>
			<img src="{% static "en.png" %}" class="responsive disabled">
			<div class="vline white disabled"></div>
			<img src="{% static "por.png" %}" class="responsive disabled">
		</div>
	</div>
	
	<div class ="BOTTOMBAR">
		<div id="prev" class="button prev"><</div>
		<div id="next" class="button next">></div>
	</div>
	<div id="carousel">
		<div><img src="{% static "estrella.png" %}" width="160px" height="160px"></div>
		<div><img src="{% static "estrella.png" %}" width="160px" height="160px"></div>
		<div><img src="{% static "estrella.png" %}" width="160px" height="160px"></div>
		<div><img src="{% static "estrella.png" %}" width="160px" height="160px"></div>
		<div><img src="{% static "estrella.png" %}" width="160px" height="160px"></div>
		<div><img src="{% static "estrella.png" %}" width="160px" height="160px"></div>
		<div><img src="{% static "estrella.png" %}" width="160px" height="160px"></div>
		<div><img src="{% static "estrella.png" %}" width="160px" height="160px"></div>
		<div><img src="{% static "estrella.png" %}" width="160px" height="160px"></div>
		<div><img src="{% static "estrella.png" %}" width="160px" height="160px"></div>
		<div><img src="{% static "estrella.png" %}" width="160px" height="160px"></div>
		<div><img src="{% static "estrella.png" %}" width="160px" height="160px"></div>
		<div><img src="{% static "estrella.png" %}" width="160px" height="160px"></div>
	</div>

</body>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{% static "jquery.waterwheelCarousel.min.js" %}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		var carousel = $("#carousel").waterwheelCarousel({
			horizon: 110,
			horizonOffset: 10,
			horizonOffsetMultiplier: .7,
			separation: 200,
			edgeFadeEnabled: true,
			animationEasing: 'swing'
		});
		$('#prev').bind('click', function () {
			carousel.prev();
			return false
		});
	
		$('#next').bind('click', function () {
			carousel.next();
			return false;
		});
	});
	
</script>
</html>

