@font-face {
    font-family: varsity;
    src: url(varsity_regular.ttf);
}
body{
	width: 100%;
	/* cursor: none; */
	overflow: hidden;  
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.nombre{
	position: absolute;
	opacity: 0.4;
	color: white;
	font-family: varsity;
	top: 20%;
	left: 50%;
	transform: translate(-50%,0);
	font-size: 150px;
}
.TOPBAR{	
	display: inline-block;
	width: 100%;
	position: absolute;
	margin-top: 40px;
	margin-left: 30px;
	margin-right: 30px;
	height: 90px;	
}
.BOTTOMBAR{
	height: 120px;
	width:80%;
	position: absolute;
	bottom: 0px;
	margin-bottom: 5%;
	left: 50%;
	transform: translate(-50%, 0);
}
.responsive{
	height: 100%;
	width: auto;
}
.left{
	height: 100%;
	text-align: left;
	float: left;
}
.right{
	height: 100%;
	text-align: right;
	float: right;
	padding-right: 10%;
}
.right .responsive{
	top: 50%;
	transform: translate(0,-50%);
	height: 60%;
	width: auto;
}
.disabled{
	opacity: 0.4;
}
.vline{
	height: 100%;
	width: 1px;
	display: inline-block;
}
.white{
	color: #fff;
	background: #fff;
}
.typesetter{
	border-radius: 20%;
	background-image:url("foo.png");
	margin-left: 35pt;
	margin-bottom: 25pt;
	opacity: 0.6;
	width: 130px;
	height: 40px;
	display: inline-block;
}
.button{
	font-family: Arial;
	color: white;
	font-size: 50px;
	top: 50px;
	transform: translate(0, -50px);
}
.next{
	float: right;
}
.prev{
	float:left; 
}
#carousel {
    width:1000px;
    height: 200px;
    display: absolute;
	clear:both;
	overflow:hidden;
	margin:0 auto;
	margin-bottom: 5%;
	bottom: 0px;
	position: absolute !important;
	left: 50%;
	transform: translate(-50%, 0);
  }
 #carousel div {
   display: hidden; /* hide images until carousel prepares them */
   cursor: pointer; /* not needed if you wrap carousel items in links */
 }
 #carousel p {
	display: hidden;
 }
  