::-webkit-scrollbar {
    display: none;
}
a {
	cursor: none;
}
body {
    background-color: rgba(11,28,99,1);
    overflow: hidden;
	height: 100%;
	-webkit-animation: fadeIn 5s;
	margin: 0;
    padding: 0;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
	cursor: none;
}
body.dividido{
	 background: linear-gradient(to right, rgba(11,28,99,1), rgba(11,28,99,1) 50%, #FFA500 50%, #FFA500);}

@font-face {
    font-family: sansCondensed;
    src: url(../font/sanscondensed/OpenSans-CondLight.ttf);
}
.container{
	height:  70%;
	overflow: hidden;
	position: fixed;
	z-index: 3;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: right;
}
.container.full{
	height: 100%;
}
.wrapper-logo{
	-webkit-animation: bubblein 2s ease-in;
}
.wrapper-logo img:hover{
	-webkit-animation: heartbeat 1s;
}
h1.titulo{
	text-align: center;
	font-family: sansCondensed;
	font-weight: normal;
	color: #fff;
}
.smallmixlogo{
	width: 20%;
}

.textlogo{
	position: absolute;
	-webkit-transform: scale(0.9);
	top: 50%;
	left: 20%;
	transform: translate(-20%, -50%);
	-webkit-animation: fadeIn 2s;
}
.box_highlight{
	position: absolute;
    z-index: 0;
	width: 100%;
	height: 100%;
	background: -webkit-radial-gradient(center, circle cover, rgba(255,255,255,0.17) 0%,rgba(216,234,248,0) 60%,rgba(125,185,232,0) 100%);
}
.line {
	height: 3px;
	width: 1100px;
	background: -webkit-linear-gradient(left, rgba(125,185,232,0) 0%,rgba(145,196,235,0) 8%,rgba(255,255,255,1) 100%);
	position: absolute;
	top: 50%;
	left:60%;
	-webkit-animation: slidein 2s;
    z-index: 2;
}
.line-reverse {
	height: 3px;
	width: 1100px;
	position: absolute;
	top: 50%;
    z-index: 2;
	right:60%;		
	background: -webkit-linear-gradient(right, rgba(125,185,232,0) 0%, rgba(255,255,255,0) 8%,rgba(255,255,255,1) 100%);
	-webkit-animation: slideinrev 2s;
}
.titulo{
	color: white;
	font-size: 40px;
	font-family: Sans-serif;
	font-weight: normal;
}
.colizq{
	float: left; 
	width: 50%;
	display: block;
	height: auto;
	text-align: center;	
	position: relative;
	top: 50%;
	transform: translate(0%,-50%);	
}
.colder{
	width: 50%;
	float: right; 
	display: block;
	height: auto;
	text-align: center;	
	margin:auto;
	position: relative;
	top: 50%;
	transform: translate(0%,-50%);
}
a{
	text-decoration: none;
}
.circle{
	line-height: 300px;
	height: 300px;
	width: 300px;
	background: white;
	font-size: 120px;
	font-family: Sans-serif;
	display: inline-block;
}
.circle:hover{
}
.circle.circle-left{
	color: rgba(11,28,99,1);
}
.circle.circle-right{
	color: #FFA500;
}
.fullscreen_video{
	position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}
.box {
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    z-index: 2;
	width: 90%;
	height: 90%;
	background: -webkit-radial-gradient( rgba(11,28,99,1) 75%, rgba(255,255,255,0));
}
.box.dividido{
	background: linear-gradient(to right, rgba(11,28,99,1), rgba(11,28,99,1) 50%, #FFA500 50%, #FFA500);
	z-index: 1;
}
#confetti{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 0;
}
@-webkit-keyframes heartbeat{
	50% {	
		-webkit-transform: scale(1.1);
	}
}
@-webkit-keyframes slidein{
	30% {
		width: 0px;
		left: 0%;
		opacity: 0;
	}
}
@-webkit-keyframes slideinrev{
	30% {
		width: 0px;
		right: 0%;
		opacity: 0;
	}
}
@-webkit-keyframes fadeIn{
	0% {
		opacity: 0;
	}
}
@-webkit-keyframes bubblein{
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
	}
	80% {
		opacity:1;
		-webkit-transform: scale(1.0) ;
	}
	90%{
		opacity:1;
		-webkit-transform:  scale(0.9);
	}
}
.slideshow{
	margin-top: 40px;
	width: 800px;
	height: 60%;
	overflow: hidden;
	position: relative;
}
.slideshowimg{
	width: 100%;
	height: 100%;
	opacity: 0;
	top: 0;
	left: 0;
	position: absolute;
	-webkit-animation: slideshow 12s linear infinite 0s;
}
.slideshowimg.active{
	opacity: 1;
}
.slideshowimg.pic2{
	animation-delay: 4s;
}
.slideshowimg.pic3{
	animation-delay: 8s;
}

@keyframes slideshow{
	0%{
		opacity: 0;
		transform: scale(1);
	}
	5%{
		opacity: 1;
	}
	60%{
		opacity: 0;
		transform: scale(1.3);
	}
	100%{
		opacity:0;
		transform: scale(1);
	}
}

